In [20]:
import sqlite3
import pandas as pd

In [21]:
housing_database_connect = sqlite3.connect("housing.db")
Question_1_SQL = "SELECT " \
                         "[Sale Condition] AS [sale condition]," \
                         "2010-[Year Built] AS [age of the house]," \
                         "[Gr Liv Area] AS [ground living area]," \
                         "[Total Bsmt SF] AS [basement size]," \
                         "[SalePrice] AS [sale price] " \
                         "FROM houses " \
                         "WHERE " \
                         "[Gr Liv Area] AND [Total Bsmt SF] AND [Year Built] AND [Sale Condition] NOT NULL " \
                         "AND [Sale Condition]='Normal' ORDER BY [Gr Liv Area]+[Total Bsmt SF]"

housing_df = pd.read_sql(Question_1_SQL,housing_database_connect)
housing_df.head()

,sale condition,age of the house,ground living area,basement size,sale price
0,Normal,90,438,290.0,60000
1,Normal,89,492,492.0,61500
2,Normal,88,498,498.0,35000
3,Normal,75,729,270.0,52000
4,Normal,57,910,105.0,116000

In [22]:
price_correlation = housing_df.corr()['sale price'].abs().sort_values()
price_correlation

age of the house      0.515467
basement size         0.637619
ground living area    0.743065
sale price            1.000000
Name: sale price, dtype: float64

In [23]:
import matplotlib.pyplot as plt

In [24]:
y = housing_df['sale price']
x = housing_df['ground living area']

In [25]:
import statsmodels.api as sm
x_with_interept = sm.add_constant(x,prepend=True)
x_with_interept.bead()

AttributeError: 'DataFrame' object has no attribute 'bead'